<a href="https://colab.research.google.com/github/ravi-gopalan/DAND_Data_Wrangling/blob/master/ashrae_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [8]:
cd /root

/root

In [0]:
!mkdir .kaggle

In [0]:
!cp '/gdrive/My Drive/Colab_stuff/kaggle.json' '/root/.kaggle/kaggle.json'

In [0]:
!chmod 600 /root/.kaggle/kaggle.json

In [13]:
!kaggle competitions download -c ashrae-energy-prediction

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train.csv.zip to /root
 94% 113M/120M [00:02<00:00, 48.2MB/s]
100% 120M/120M [00:02<00:00, 57.9MB/s]
Downloading weather_test.csv.zip to /root
  0% 0.00/2.53M [00:00<?, ?B/s]
100% 2.53M/2.53M [00:00<00:00, 83.3MB/s]
Downloading test.csv.zip to /root
 99% 165M/167M [00:02<00:00, 81.8MB/s]
100% 167M/167M [00:02<00:00, 73.7MB/s]
Downloading sample_submission.csv.zip to /root
 92% 81.0M/88.4M [00:01<00:00, 58.6MB/s]
100% 88.4M/88.4M [00:01<00:00, 76.1MB/s]
Downloading weather_train.csv.zip to /root
  0% 0.00/1.27M [00:00<?, ?B/s]
100% 1.27M/1.27M [00:00<00:00, 86.2MB/s]
Downloading building_metadata.csv to /root
  0% 0.00/44.5k [00:00<?, ?B/s]
100% 44.5k/44.5k [00:00<00:00, 46.5MB/s]

In [14]:
!ls

building_metadata.csv	   test.csv.zip		 weather_train.csv.zip
kaggle			   train.csv.zip
sample_submission.csv.zip  weather_test.csv.zip

In [15]:
pwd

'/root'

In [16]:
cd /content/

/content

In [0]:
!mkdir ashrae_energy_prediction

In [18]:
!mv '/root/*.zip' '/content/ashrae_energy_prediction/*.zip'

mv: cannot stat '/root/*.zip': No such file or directory

In [0]:
!mv '/root/train.csv.zip' '/content/ashrae_energy_prediction/train.csv.zip'

In [0]:
!mv '/root/test.csv.zip' '/content/ashrae_energy_prediction/test.csv.zip'

In [0]:
!mv '/root/weather_train.csv.zip' '/content/ashrae_energy_prediction/weather_train.csv.zip'

In [0]:
!mv '/root/weather_test.csv.zip' '/content/ashrae_energy_prediction/weather_test.csv.zip'

In [0]:
!mv '/root/sample_submission.csv.zip' '/content/ashrae_energy_prediction/sample_submission.csv.zip'

In [0]:
!mv '/root/building_metadata.csv' '/content/ashrae_energy_prediction/building_metadata.csv'

In [25]:
!ls

ashrae_energy_prediction  sample_data

In [26]:
cd ashrae_energy_prediction/

/content/ashrae_energy_prediction

In [27]:
!ls

building_metadata.csv	   test.csv.zip   weather_test.csv.zip
sample_submission.csv.zip  train.csv.zip  weather_train.csv.zip

In [30]:
!unzip train.csv.zip
!unzip test.csv.zip
!unzip weather_train.csv.zip
!unzip weather_test.csv.zip
!unzip sample_submission.csv.zip

Archive:  train.csv.zip
  inflating: train.csv
Archive:  test.csv.zip
  inflating: test.csv
Archive:  weather_train.csv.zip
  inflating: weather_train.csv
Archive:  weather_test.csv.zip
  inflating: weather_test.csv
Archive:  sample_submission.csv.zip
  inflating: sample_submission.csv

In [31]:
!ls

building_metadata.csv	   test.csv.zip      weather_test.csv.zip
sample_submission.csv	   train.csv	     weather_train.csv
sample_submission.csv.zip  train.csv.zip     weather_train.csv.zip
test.csv		   weather_test.csv

In [0]:
import pandas as pd
df_train = pd.read_csv('train.csv')

In [33]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20216100 entries, 0 to 20216099
Data columns (total 4 columns):
building_id      int64
meter            int64
timestamp        object
meter_reading    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 616.9+ MB

In [34]:
df_train.head()

   building_id  meter            timestamp  meter_reading
0            0      0  2016-01-01 00:00:00            0.0
1            1      0  2016-01-01 00:00:00            0.0
2            2      0  2016-01-01 00:00:00            0.0
3            3      0  2016-01-01 00:00:00            0.0
4            4      0  2016-01-01 00:00:00            0.0

In [35]:
df_train.tail()

          building_id  meter            timestamp  meter_reading
20216095         1444      0  2016-12-31 23:00:00          8.750
20216096         1445      0  2016-12-31 23:00:00          4.825
20216097         1446      0  2016-12-31 23:00:00          0.000
20216098         1447      0  2016-12-31 23:00:00        159.575
20216099         1448      0  2016-12-31 23:00:00          2.850