<a href="https://colab.research.google.com/github/ravi-gopalan/DAND_Data_Wrangling/blob/master/city_list_wikidata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Install modules

In [1]:
# Install sparqlwrapper for retrieving wikidata info, wikipedia and pymediawiki to retrieve data from wikipedia

!pip install sparqlwrapper
!pip install wikipedia
!pip install pymediawiki

Collecting sparqlwrapper
  Downloading https://files.pythonhosted.org/packages/00/9b/443fbe06996c080ee9c1f01b04e2f683b2b07e149905f33a2397ee3b80a2/SPARQLWrapper-1.8.5-py3-none-any.whl
Collecting rdflib>=4.0
  Downloading https://files.pythonhosted.org/packages/3c/fe/630bacb652680f6d481b9febbb3e2c3869194a1a5fc3401a4a41195a2f8f/rdflib-4.2.2-py3-none-any.whl (344kB)
     |████████████████████████████████| 348kB 8.0MB/s
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from rdflib>=4.0->sparqlwrapper) (2.4.6)
Collecting isodate
  Downloading https://files.pythonhosted.org/packages/9b/9f/b36f7774ff5ea8e428fdcfc4bb332c39ee5b9362ddd3d40d9516a55221b2/isodate-0.6.0-py2.py3-none-any.whl (45kB)
     |████████████████████████████████| 51kB 8.0MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from isodate->rdflib>=4.0->sparqlwrapper) (1.12.0)
Installing collected packages: isodate, rdflib, sparqlwrapper
Successfully installed isodate-0.6.0 rdflib-4.2.2 sparqlwrapper-1.8.5
Collecting wikipedia
  Downloading https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (4.6.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-cp36-none-any.whl size=11686 sha256=0e15f6aa438b4b0f26b111a8a8081fb1ac2db7ba07e686ca731b33b2d6d0d252
  Stored in directory: /root/.cache/pip/wheels/87/2a/18/4e471fd96d12114d16fe4a446d00c3b38fb9efcb744bd31f4a
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0
Collecting pymediawiki
  Downloading https://files.pythonhosted.org/packages/8e/70/49616e2cee4a57fcb72d6174b73e578961822905c72f80b66425763415b3/pymediawiki-0.6.2-py2.py3-none-any.whl
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from pymediawiki) (4.6.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from pymediawiki) (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->pymediawiki) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->pymediawiki) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->pymediawiki) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->pymediawiki) (2019.11.28)
Installing collected packages: pymediawiki
Successfully installed pymediawiki-0.6.2

## Import Libraries

In [0]:
# Import pandas, numpy, SPARQLWrapper, re, json, collections, time, itertools, requests, json_normalize, spacy, wikipedia, mediawiki and interactiveshell

import pandas as pd
import numpy as np
import json
from SPARQLWrapper import SPARQLWrapper, JSON
import re
from collections import Counter
import time
import itertools

import requests
from pandas.io.json import json_normalize

import spacy

import wikipedia
from mediawiki import MediaWiki

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Load helper functions

In [0]:
# get results from wikidata
def get_results(endpoint_url, query):
    sparql = SPARQLWrapper(endpoint_url)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    result = sparql.query()

    processed_results = json.load(result.response)
    cols = processed_results['head']['vars']

    out = []
    for row in processed_results['results']['bindings']:
      item = []
      for c in cols:
        item.append(row.get(c, {}).get('value'))
      out.append(item)
    return pd.DataFrame(out, columns = cols)


def dump_jsonl(data, output_path, append=False):
    """
    Write list of objects to a JSON lines file.
    """
    mode = 'a+' if append else 'w'
    with open(output_path, mode, encoding='utf-8') as f:
        for line in data:
            json_record = json.dumps(line, ensure_ascii=False)
            f.write(json_record + '\n')
#    print('Wrote {} records to {}'.format(len(data), output_path))



def load_jsonl(input_path) -> list:
    """
    Read list of objects from a JSON lines file.
    """
    data = []
    with open(input_path, 'r', encoding='utf-8') as f:
        for line in f:
            data.append(json.loads(line.rstrip('\n|\r')))
    print('Loaded {} records from {}'.format(len(data), input_path))
    return data

def get_wikidata_id(col):
  rx = re.compile(r'(http\:\/\/www\.wikidata\.org\/entity\/)(Q[0-9]+)')
  m = rx.match(col)
  if m is not None:
    return m.group(2)

def get_wikidata_description(row):
  base_string = 'https://www.wikidata.org/w/api.php?action=wbgetentities&sites=enwiki&languages=en&format=json&props=descriptions&ids='
  query_string = base_string + row
#  print(query_string)
  r = requests.get(query_string)
  return json.loads(r.content.decode('utf-8'))['entities'][row]

def get_wikidata_label(row):
  base_string = 'https://www.wikidata.org/w/api.php?action=wbgetentities&sites=enwiki&languages=en&format=json&props=labels&ids='
  query_string = base_string + row
#  print(query_string)
  r = requests.get(query_string)
  return json.loads(r.content.decode('utf-8'))['entities'][row]

def check_Qcodes(x):
  step1 = re.sub("Q[0-9]+","UNKNOWN",x)
  return step1

def query_and_process_results(url, query_parameter):
  query = query_parameter
#  print(query)

  df_initial = get_results(url, query)
  print(df_initial.shape)
  print(df_initial.head())

  df_initial['city_check'] = df_initial['instance_ofLabel'].apply(lambda x: check_Qcodes(x))

  df = df_initial.query('city_check != "UNKNOWN"').reset_index(drop=True)
  print(df.shape)
  print(df.head())  

  res_list =  sorted([re.sub("q[0-9]+","",item.lower()) for item in df.groupby(['instance_ofLabel'])['instance_of'].agg('count').index.values.tolist()])
  res_list = sorted([re.sub("\-", " ",item) for item in res_list])
  res_list = [item for item in res_list if not re.findall("[0-9]+",item)]
  res_counter = Counter(res_list)
  res_list = []
  for key in res_counter.keys():
    if len(key) != 0:
      res_list.append(key)

  print(len(res_list), res_list)

  return df, res_list, res_counter



def clean_pat(x):
  step1 = re.sub("None\,","",x)
  step2 = re.sub("None","",step1)
  step2 = '{"label": "GPE_city", "pattern": ' + '['+ step2.strip()[:-1] + ']'
  return step2


def clean_id(x):
  step1 = re.sub("None","",x)
  step2 = ', "id": "' + re.sub("(\_)([\'\_a-zA-Z\u0080-\uFFFF]+)",r"\2",step1) + '"}'
  return step2

def get_city_summary(x,n):
  try:
    out = wiki.summary(title=x,sentences=n)
  except:
    out = 'error'
  return out

In [0]:
url = "https://query.wikidata.org/sparql"

query = '''
SELECT ?instance_of ?instance_ofLabel ?country ?countryLabel ?located_in_the_administrative_territorial_entity ?located_in_the_administrative_territorial_entityLabel WHERE 
{
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?instance_of wdt:P31 wd:Q1637706.
  OPTIONAL { ?instance_of wdt:P17 ?country. }
  OPTIONAL { ?instance_of wdt:P131 ?located_in_the_administrative_territorial_entity. }
}
'''

In [62]:
df, r_list, r_counter = query_and_process_results(url, query)

(673, 6)
                          instance_of  ... located_in_the_administrative_territorial_entityLabel
0  http://www.wikidata.org/entity/Q60  ...                                           New York
1  http://www.wikidata.org/entity/Q64  ...                                            Germany
2  http://www.wikidata.org/entity/Q65  ...                                 Los Angeles County
3  http://www.wikidata.org/entity/Q84  ...                                     Greater London
4  http://www.wikidata.org/entity/Q87  ...                             Alexandria Governorate

[5 rows x 6 columns]
(673, 7)
                          instance_of  ...     city_check
0  http://www.wikidata.org/entity/Q60  ...  New York City
1  http://www.wikidata.org/entity/Q64  ...         Berlin
2  http://www.wikidata.org/entity/Q65  ...    Los Angeles
3  http://www.wikidata.org/entity/Q84  ...         London
4  http://www.wikidata.org/entity/Q87  ...     Alexandria

[5 rows x 7 columns]
604 ['abidjan', 'accra', 'adana', 'addis ababa', 'agra', 'ahmedabad', 'ahvaz', 'al ahsa governorate', 'albuquerque', 'aleppo', 'alexandria', 'aligarh', 'allahabad', 'almaty', 'amman', 'amritsar', 'ankara', 'anqing', 'anshan', 'anshun', 'antalya', 'antananarivo', 'arequipa', 'ashgabat', 'aurangabad', 'baghdad', 'baise', 'baiyin', 'baku', 'bamako', 'bandarlampung', 'bangalore', 'bangkok', 'baoding', 'baoji', 'baoshan', 'baotou', 'barcelona', 'barquisimeto', 'barranquilla', 'basra', 'batam', 'bayannur', 'bazhong', 'beihai', 'beijing', 'bekasi', 'belgrade', 'belo horizonte', 'belém', 'bengbu', 'benxi', 'berlin', 'bhiwandi', 'bhopal', 'bijie', 'binhai new area', 'binzhou', 'birmingham', 'biên hòa', 'blantyre', 'bogor', 'bogotá', 'bozhou', 'brasília', 'brazzaville', 'bucharest', 'budapest', 'buenos aires', 'bursa', 'busan', 'calgary', 'cali', 'campinas', 'cangzhou', 'caracas', 'cartagena', 'chandigarh', 'changchun', 'changde', 'changsha', 'changshu', 'changzhi', 'changzhou', 'chaoyang', 'chaozhou', 'chelyabinsk', 'chengde', 'chennai', 'chenzhou', 'chifeng', 'chittagong', 'chizhou', 'chongqing', 'chongzuo', 'chuzhou', 'ciudad juárez', 'ciudad nezahualcóyotl', 'cologne', 'comayaguela', 'conakry', 'curitiba', 'córdoba', 'cần thơ', 'da nang', 'daegu', 'daejeon', 'dakar', 'dalian', 'dallas', 'damascus', 'dandong', 'daqing', 'dar es salaam', 'datong', 'davao city', 'dazhou', 'delhi', 'dengzhou', 'depok', 'deyang', 'dezhou', 'dhaka', 'dingxi', 'dingzhou', 'diyarbakır', 'doha', 'dongguan', 'dongying', 'douala', 'dubai', 'east berlin', 'ezhou', 'faisalabad', 'faridabad', 'fez', 'fortaleza', 'foshan', 'fukuoka', 'fushun', 'fuxin', 'fuyang', 'fuzhou', 'ganzhou', 'gaozhou', 'gaziantep', 'ghaziabad', 'goiânia', 'gongzhuling', 'goyang', 'greater tehran', 'guadalajara', "guang'an", 'guangyuan', 'guangzhou', 'guarulhos', 'guatemala city', 'guayaquil', 'guigang', 'guilin', 'guiyang', 'gujranwala', 'guyuan', 'gwalior', 'gwangju', 'haicheng', 'haidong', 'haikou', 'haiphong', 'hanchuan city', 'handan', 'hangzhou', 'hanoi', 'hanzhong', 'harare', 'hargeisa', 'havana', 'hebi', 'hechi', 'hefei', 'hegang', 'heihe', 'hengshui', 'hengyang', 'heyuan', 'heze', 'hezhou', 'hiroshima', 'hohhot', 'houston', 'howrah', "huai'an", 'huaibei', 'huaihua', 'huainan', 'huanggang', 'huangshan city', 'huangshi', 'huazhou shi', 'huizhou', 'huludao', 'hulunbuir', 'huzhou', 'hyderabad', 'incheon', 'indore', 'irbid', 'isfahan', 'islamabad', 'istanbul', 'i̇zmir', 'jabalpur', 'jaipur', 'jakarta', 'jamshedpur', 'jeddah', "ji'an", 'jiamusi', 'jiangmen', 'jiangyin', 'jianyang, sichuan', 'jiaozuo', 'jiaxing', 'jieyang', 'jilin city', 'jinan', 'jincheng', 'jingdezhen', 'jingmen city', 'jingzhou', 'jinhua', 'jining', 'jinjiang', 'jinzhong', 'jinzhou', 'jiujiang', 'jixi', 'jodhpur', 'johannesburg', 'juárez municipality', 'kabul', 'kaifeng', 'kampala', 'kananga', 'kano', 'kanpur', 'kaohsiung', 'karachi', 'karaj', 'kawasaki', 'kayseri', 'kharkiv', 'khartoum', 'khulna', 'kiev', 'kigali', 'kinshasa', 'kolkata', 'konya', 'kota', 'kuala lumpur', 'kumasi', 'kunming', 'kunshan', 'kyoto', 'kōbe', 'lagos', 'lahore', 'laibin', 'laiwu', 'langfang', 'lanzhou', 'leizhou', 'leshan', 'león', 'lianjiang', 'lianyuan', 'lianyungang', 'liaocheng', 'liaoyang', 'lijiang', 'liling', 'lincang', 'linfen', 'linyi', 'lishui', 'liupanshui', 'liuzhou', 'london', 'longnan', 'longyan', 'los angeles', 'loudi', "lu'an", 'luanda', 'lubumbashi', 'lucknow', 'lufeng', 'luohe', 'luoyang', 'lusaka', 'luzhou', 'lüliang', "ma'anshan", 'maceió', 'madrid', 'madurai', 'managua', 'mandalay', 'manila', 'maoming', 'maputo', 'maracaibo', 'mashhad', 'matola', 'medan', 'medellín', 'medina', 'meerut', 'meishan', 'meizhou', 'mersin', 'mexico city', 'mianyang', 'minsk', 'mirzapur', 'mogadishu', 'mombasa', 'monrovia', 'monterrey', 'montreal', 'mosul', 'mudanjiang', 'multan', 'munich', "n'djamena", 'nagoya', 'nagpur', 'nairobi', 'nanchang', 'nanchong', 'nanjing', 'nanning', 'nanping', 'nantong', 'nanyang', 'nashik', 'navi mumbai', 'naypyidaw', 'neijiang', 'new york city', 'niamey', 'ningbo', 'ningde', 'ningxiang city', 'nizhny novgorod', 'nouakchott', 'novosibirsk', 'nur sultan', 'odessa', 'ogbomosho', 'omdurman', 'omsk', 'onitsha', 'ordos city', 'ouagadougou', 'palembang', 'panjin', 'panzhihua', 'panzhou city', 'paris', 'patna', 'perm', 'perth', 'peshawar', 'philadelphia', 'phnom penh', 'phoenix', 'pimpri chinchwad', 'pingdingshan', 'pingdu', 'pingliang', 'pingxiang', 'pizhou', 'port harcourt', 'porto alegre', 'prague', "pu'er city", 'pudong', 'puebla city', 'pune', 'puning', 'putian', 'puyang', 'pyongyang', 'qingdao', 'qingyang', 'qingyuan', 'qinhuangdao', 'qinzhou', 'qiqihar', 'qom', 'quanzhou', 'quetta', 'quito', 'qujing', 'quzhou', 'rabat', 'raipur', 'rajkot', 'ranchi', 'rawalpindi', 'recife', 'rio de janeiro', 'riyadh', 'rizhao', 'rome', 'rosario', 'rostov on don', 'rugao', 'saint petersburg', 'saitama', 'salvador', 'samsun', 'san antonio', 'san diego', 'san jose', 'san pedro sula', "sana'a", 'sanmenxia', 'sanming', 'santa cruz de la sierra', 'santiago', 'santiago de los caballeros', 'santo domingo', 'sapporo', 'semarang', 'sendai', 'seoul', 'shanghai', 'shangluo', 'shangqiu', 'shangrao', 'shantou', 'shanwei', 'shaoguan', 'shaoxing', 'shaoyang', 'sharjah', 'shenyang', 'shenzhen', 'shijiazhuang', 'shiraz', 'shiyan', 'shouguang', 'shuangyashan', 'shubra el kheima', 'shuozhou', 'shymkent', 'singapore', 'siping', 'sofia', 'south tangerang', 'srinagar', 'stockholm urban area', 'suihua', 'suining', 'suizhou', 'suqian', 'surabaya', 'surat', 'suwon', 'suzhou', 'são luís', 'são paulo', 'tabriz', "tai'an", 'taichung', 'tainan', 'taipei', 'taixing', 'taiyuan', 'taizhou', 'tangerang', 'tangshan', 'taoyuan city', 'tashkent', 'tbilisi', 'tegucigalpa', 'tehran', 'tekirdağ', 'tengzhou', 'thane', 'tianjin', 'tianshui', 'tieling', 'tijuana', 'tokyo', 'tongliao', 'tongren', 'toronto', 'tripoli', 'tunis', 'ufa', 'ulaanbaatar', 'ulanqab', 'ulsan', 'vadodara', 'valencia', 'varanasi', 'vasai virar', 'vienna', 'vijayawada', 'visakhapatnam', 'volgograd', 'voronezh', 'wafangdian', 'warsaw', 'weifang', 'weihai', 'weinan', 'wenzhou', 'west berlin', 'wuhan', 'wuhu', 'wuwei', 'wuxi', 'wuzhong', 'wuzhou', "xi'an", 'xiamen', 'xiangcheng city', 'xiangtan', 'xiangyang', 'xianning', 'xianyang', 'xiaogan', 'xinghua', 'xining', 'xintai', 'xinxiang', 'xinyang', 'xinyu', 'xinzhou', 'xuancheng', 'xuanwei', 'xuchang', 'xuzhou', "ya'an", "yan'an", 'yancheng', 'yangjiang', 'yangon', 'yangquan', 'yangzhou', 'yantai', 'yaoundé', 'yerevan', 'yibin', 'yichang', 'yichun', 'yinchuan', 'yingkou', 'yingtan', 'yixing', 'yiyang', 'yokohama', 'yongcheng', 'yongzhou', 'yueyang', 'yulin', 'yunfu', 'yushu', 'yuxi', 'yuzhou', 'zaoyang city', 'zaozhuang', 'zapopan', 'zhangjiagang', 'zhangjiajie', 'zhangjiakou', 'zhangye', 'zhangzhou', 'zhanjiang', 'zhaoqing', 'zhaotong', 'zhengzhou', 'zhenjiang', 'zhongshan', 'zhongwei', 'zhongxiang city', 'zhoukou', 'zhucheng', 'zhuhai', 'zhumadian', 'zhuzhou', 'zibo', 'zigong', 'ziyang', 'zoucheng', 'zunyi', 'ürümqi', 'ōsaka', 'şanlıurfa']

In [63]:
df.head()

                          instance_of  ...     city_check
0  http://www.wikidata.org/entity/Q60  ...  New York City
1  http://www.wikidata.org/entity/Q64  ...         Berlin
2  http://www.wikidata.org/entity/Q65  ...    Los Angeles
3  http://www.wikidata.org/entity/Q84  ...         London
4  http://www.wikidata.org/entity/Q87  ...     Alexandria

[5 rows x 7 columns]

In [64]:
df.columns = ['city_entity','city','country_entity','country','admin_entity','admin','city_check']
df.head()

                          city_entity  ...     city_check
0  http://www.wikidata.org/entity/Q60  ...  New York City
1  http://www.wikidata.org/entity/Q64  ...         Berlin
2  http://www.wikidata.org/entity/Q65  ...    Los Angeles
3  http://www.wikidata.org/entity/Q84  ...         London
4  http://www.wikidata.org/entity/Q87  ...     Alexandria

[5 rows x 7 columns]

In [0]:
df.to_csv('city_details.csv')

In [0]:
df['city'] = df['city'].apply(lambda x: x.lower())

In [67]:
df['admin'] = df['admin'].map(lambda x: x if type(x) != str else x.lower())
df.head()

                          city_entity  ...     city_check
0  http://www.wikidata.org/entity/Q60  ...  New York City
1  http://www.wikidata.org/entity/Q64  ...         Berlin
2  http://www.wikidata.org/entity/Q65  ...    Los Angeles
3  http://www.wikidata.org/entity/Q84  ...         London
4  http://www.wikidata.org/entity/Q87  ...     Alexandria

[5 rows x 7 columns]

In [68]:
df['country'] = df['country'].map(lambda x: x if type(x) != str else x.lower())
df.head()

                          city_entity  ...     city_check
0  http://www.wikidata.org/entity/Q60  ...  New York City
1  http://www.wikidata.org/entity/Q64  ...         Berlin
2  http://www.wikidata.org/entity/Q65  ...    Los Angeles
3  http://www.wikidata.org/entity/Q84  ...         London
4  http://www.wikidata.org/entity/Q87  ...     Alexandria

[5 rows x 7 columns]

In [0]:
nlp = spacy.load('en_core_web_sm')

In [0]:
patterns = []
id_list = []
for item in list(df['city']):
  patterns.append(['{"LOWER": "'+ token.text + '"}' for token in nlp(item)])
  id_list.append(['_'+ token.text for token in nlp(item)])

In [71]:
print(len(patterns),len(id_list))

673 673

In [72]:
df_pats = pd.DataFrame(patterns)
df_pats.head()
df_ids = pd.DataFrame(id_list)
df_ids.head()

                         0                     1                  2     3     4
0         {"LOWER": "new"}     {"LOWER": "york"}  {"LOWER": "city"}  None  None
1      {"LOWER": "berlin"}                  None               None  None  None
2         {"LOWER": "los"}  {"LOWER": "angeles"}               None  None  None
3      {"LOWER": "london"}                  None               None  None  None
4  {"LOWER": "alexandria"}                  None               None  None  None

             0         1      2     3     4
0         _new     _york  _city  None  None
1      _berlin      None   None  None  None
2         _los  _angeles   None  None  None
3      _london      None   None  None  None
4  _alexandria      None   None  None  None

In [73]:
df_pats['combined'] = df_pats[0].astype('str') + ', ' + df_pats[1].astype('str') + ', ' + df_pats[2].astype('str') + ', ' + df_pats[3].astype('str')\
+ ', ' + df_pats[4].astype('str') #+ ', ' + df_pats[5].astype('str') + ', ' + df_pats[6].astype('str') + ', ' + df_pats[7].astype('str')
df_pats.drop(columns=[0,1,2,3,4],inplace=True)
df_pats['cleaned'] = df_pats['combined'].apply(lambda x: clean_pat(x))
df_pats.drop(columns=['combined'],inplace=True)
df_pats.columns=['cleaned_pattern']

df_pats.head()

df_ids['combined'] = df_ids[0].astype('str') + df_ids[1].astype('str') + df_ids[2].astype('str') + df_ids[3].astype('str')\
+ df_ids[4].astype('str') #+ df_ids[5].astype('str') + df_ids[6].astype('str') + df_ids[7].astype('str') + df_ids[8].astype('str')
df_ids.drop(columns=[0,1,2,3,4],inplace=True)

df_ids['cleaned'] = df_ids['combined'].apply(lambda x: clean_id(x))
df_ids.drop(columns=['combined'],inplace=True)
df_ids.columns=['cleaned_id']
df_ids.head()

                                     cleaned_pattern
0  {"label": "GPE_city", "pattern": [{"LOWER": "n...
1  {"label": "GPE_city", "pattern": [{"LOWER": "b...
2  {"label": "GPE_city", "pattern": [{"LOWER": "l...
3  {"label": "GPE_city", "pattern": [{"LOWER": "l...
4  {"label": "GPE_city", "pattern": [{"LOWER": "a...

                 cleaned_id
0  , "id": "new_york_city"}
1         , "id": "berlin"}
2    , "id": "los_angeles"}
3         , "id": "london"}
4     , "id": "alexandria"}

In [74]:
df_pat_ids = pd.concat([df_pats,df_ids],axis=1)
df_pat_ids['combined'] = df_pat_ids['cleaned_pattern'].astype('str') + df_pat_ids['cleaned_id'].astype('str')
df_pat_ids.info()
df_pat_ids.head()
df_pat_ids.tail()

df_pat_ids.drop(columns=['cleaned_pattern','cleaned_id'],inplace=True)
df_pat_ids.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 3 columns):
cleaned_pattern    673 non-null object
cleaned_id         673 non-null object
combined           673 non-null object
dtypes: object(3)
memory usage: 15.9+ KB

                                     cleaned_pattern  ...                                           combined
0  {"label": "GPE_city", "pattern": [{"LOWER": "n...  ...  {"label": "GPE_city", "pattern": [{"LOWER": "n...
1  {"label": "GPE_city", "pattern": [{"LOWER": "b...  ...  {"label": "GPE_city", "pattern": [{"LOWER": "b...
2  {"label": "GPE_city", "pattern": [{"LOWER": "l...  ...  {"label": "GPE_city", "pattern": [{"LOWER": "l...
3  {"label": "GPE_city", "pattern": [{"LOWER": "l...  ...  {"label": "GPE_city", "pattern": [{"LOWER": "l...
4  {"label": "GPE_city", "pattern": [{"LOWER": "a...  ...  {"label": "GPE_city", "pattern": [{"LOWER": "a...

[5 rows x 3 columns]

                                       cleaned_pattern  ...                                           combined
668  {"label": "GPE_city", "pattern": [{"LOWER": "b...  ...  {"label": "GPE_city", "pattern": [{"LOWER": "b...
669  {"label": "GPE_city", "pattern": [{"LOWER": "l...  ...  {"label": "GPE_city", "pattern": [{"LOWER": "l...
670  {"label": "GPE_city", "pattern": [{"LOWER": "g...  ...  {"label": "GPE_city", "pattern": [{"LOWER": "g...
671  {"label": "GPE_city", "pattern": [{"LOWER": "h...  ...  {"label": "GPE_city", "pattern": [{"LOWER": "h...
672  {"label": "GPE_city", "pattern": [{"LOWER": "g...  ...  {"label": "GPE_city", "pattern": [{"LOWER": "g...

[5 rows x 3 columns]

                                            combined
0  {"label": "GPE_city", "pattern": [{"LOWER": "n...
1  {"label": "GPE_city", "pattern": [{"LOWER": "b...
2  {"label": "GPE_city", "pattern": [{"LOWER": "l...
3  {"label": "GPE_city", "pattern": [{"LOWER": "l...
4  {"label": "GPE_city", "pattern": [{"LOWER": "a...

In [75]:
df = pd.concat([df,df_pat_ids],axis=1)
df.head()

                          city_entity  ...                                           combined
0  http://www.wikidata.org/entity/Q60  ...  {"label": "GPE_city", "pattern": [{"LOWER": "n...
1  http://www.wikidata.org/entity/Q64  ...  {"label": "GPE_city", "pattern": [{"LOWER": "b...
2  http://www.wikidata.org/entity/Q65  ...  {"label": "GPE_city", "pattern": [{"LOWER": "l...
3  http://www.wikidata.org/entity/Q84  ...  {"label": "GPE_city", "pattern": [{"LOWER": "l...
4  http://www.wikidata.org/entity/Q87  ...  {"label": "GPE_city", "pattern": [{"LOWER": "a...

[5 rows x 8 columns]

In [76]:
df['combined'][100]

'{"label": "GPE_city", "pattern": [{"LOWER": "brazzaville"}], "id": "brazzaville"}'

In [0]:
df.drop(columns=['city_check'],inplace=True)
df.to_csv('city_detail_w_pattern.csv',index=False)

In [0]:
dump_jsonl(list(df['combined']), 'city_patterns.jsonl')

In [0]:
df[['combined']].to_csv('city_patterns.csv',index=False)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3719 entries, 0 to 3718
Data columns (total 7 columns):
city_entity       3719 non-null object
city              3719 non-null object
country_entity    3719 non-null object
country           3719 non-null object
admin_entity      3698 non-null object
admin             3698 non-null object
combined          3719 non-null object
dtypes: object(7)
memory usage: 203.5+ KB

In [80]:
df.tail()

                                city_entity  ...                                           combined
668  http://www.wikidata.org/entity/Q188693  ...  {"label": "GPE_city", "pattern": [{"LOWER": "b...
669  http://www.wikidata.org/entity/Q189128  ...  {"label": "GPE_city", "pattern": [{"LOWER": "l...
670  http://www.wikidata.org/entity/Q189633  ...  {"label": "GPE_city", "pattern": [{"LOWER": "g...
671  http://www.wikidata.org/entity/Q189823  ...  {"label": "GPE_city", "pattern": [{"LOWER": "h...
672  http://www.wikidata.org/entity/Q192271  ...  {"label": "GPE_city", "pattern": [{"LOWER": "g...

[5 rows x 7 columns]

In [81]:
df.query('country == "afghanistan"')

                              city_entity  ...                                           combined
118  http://www.wikidata.org/entity/Q5838  ...  {"label": "GPE_city", "pattern": [{"LOWER": "k...

[1 rows x 7 columns]

In [0]:
df.fillna(0,inplace=True)

In [83]:
df_admins = pd.read_csv('country_subdivisions_detail.csv')
df_admins.head()

  country_alpha_2 sd_code     sd_name   sd_type sd_parent_code
0              AF  AF-BAL       balkh  Province            NaN
1              AF  AF-BAM      bāmyān  Province            NaN
2              AF  AF-BDG     bādghīs  Province            NaN
3              AF  AF-BDS  badakhshān  Province            NaN
4              AF  AF-BGL     baghlān  Province            NaN

In [84]:
df_country = pd.read_csv('country_detail.csv')
df_country.head()

  country_alpha_2 country_alpha_3   country_name  country_numeric
0              AW             ABW          aruba              533
1              AF             AFG    afghanistan                4
2              AO             AGO         angola               24
3              AI             AIA       anguilla              660
4              AX             ALA  åland islands              248

In [85]:
df_country_admins = df_admins.merge(df_country,how='left',on='country_alpha_2')
df_country_admins.head()

  country_alpha_2 sd_code  ... country_name country_numeric
0              AF  AF-BAL  ...  afghanistan               4
1              AF  AF-BAM  ...  afghanistan               4
2              AF  AF-BDG  ...  afghanistan               4
3              AF  AF-BDS  ...  afghanistan               4
4              AF  AF-BGL  ...  afghanistan               4

[5 rows x 8 columns]

In [86]:
df_country_admins.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4844 entries, 0 to 4843
Data columns (total 8 columns):
country_alpha_2    4831 non-null object
sd_code            4844 non-null object
sd_name            4843 non-null object
sd_type            4844 non-null object
sd_parent_code     1315 non-null object
country_alpha_3    4844 non-null object
country_name       4844 non-null object
country_numeric    4844 non-null int64
dtypes: int64(1), object(7)
memory usage: 340.6+ KB

In [87]:
df_country_admins['sd_name'][4234] = "nan"

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
df_country_admins[df_country_admins['country_alpha_3'] == "THA"][40:50]

     country_alpha_2 sd_code  ... country_name country_numeric
4232              TH   TH-53  ...     thailand             764
4233              TH   TH-54  ...     thailand             764
4234              TH   TH-55  ...     thailand             764
4235              TH   TH-56  ...     thailand             764
4236              TH   TH-57  ...     thailand             764
4237              TH   TH-58  ...     thailand             764
4238              TH   TH-60  ...     thailand             764
4239              TH   TH-61  ...     thailand             764
4240              TH   TH-62  ...     thailand             764
4241              TH   TH-63  ...     thailand             764

[10 rows x 8 columns]

In [88]:
df_updated = df.merge(df_country_admins,how='left',left_on='admin',right_on='sd_name').reset_index(drop=True)
df_updated.head()

                          city_entity  ... country_numeric
0  http://www.wikidata.org/entity/Q60  ...           840.0
1  http://www.wikidata.org/entity/Q64  ...             NaN
2  http://www.wikidata.org/entity/Q65  ...             NaN
3  http://www.wikidata.org/entity/Q84  ...             NaN
4  http://www.wikidata.org/entity/Q87  ...             NaN

[5 rows x 15 columns]

In [89]:
df_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 15 columns):
city_entity        678 non-null object
city               678 non-null object
country_entity     678 non-null object
country            678 non-null object
admin_entity       678 non-null object
admin              678 non-null object
combined           678 non-null object
country_alpha_2    59 non-null object
sd_code            59 non-null object
sd_name            59 non-null object
sd_type            59 non-null object
sd_parent_code     5 non-null object
country_alpha_3    59 non-null object
country_name       59 non-null object
country_numeric    59 non-null float64
dtypes: float64(1), object(14)
memory usage: 79.6+ KB

In [42]:
df_updated.query('city == "coquimbo"')

                            city_entity      city  ... country_name country_numeric
4  http://www.wikidata.org/entity/Q3871  coquimbo  ...        chile           152.0

[1 rows x 15 columns]

In [44]:
grouped = df_updated.groupby(['country'])
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [43]:
r_list[:10]

["'s hertogenbosch",
 'a coruña',
 'aachen',
 'aalborg',
 'aarhus',
 'aba',
 'abadan',
 'abakan',
 'abbotsford',
 'abbottabad']

In [63]:
list(grouped)[1][1]['city']

255              kabul
943              herat
944           kandahar
1706          asadabad
1818            bamyan
2026       chaghcharan
2199    mazar-i-sharif
2200    mazar-i-sharif
2416           baghlan
3719            ghazni
3887         sar-e pol
3945             qalat
4116            gardēz
4131            zaranj
4134       lashkar gah
4135      pul-e khomri
4140           taloqan
4373        sheberghan
5050         jalalabad
5150             farah
5712             kholm
6793          samangan
6962           andkhoy
7290         khan abad
7382             kishm
7540        euthydemia
7675     qalʻah-ye zāl
7747           sharana
7874           watapur
7944          shindand
Name: city, dtype: object

In [0]:
wiki = MediaWiki()

In [45]:
wiki.summary(title='Catania',sentences=3)

'Catania (UK: , US: , Sicilian and Italian: [kaˈtaːnja] (listen)) is the second largest city of Sicily after Palermo; it is located on the east coast facing the Ionian Sea. It is the capital of the Metropolitan City of Catania, one of the ten biggest cities in Italy, and the seventh largest metropolitan city in Italy. The population of the city proper is 311,584 while the population of the Metropolitan City of Catania is 1,107,702.Catania was destroyed by catastrophic earthquakes in 1169 and 1693, and by several volcanic eruptions from the neighbouring Mount Etna, the most violent of which was in 1669.Catania was founded in the 8th century BC by Chalcidians.'

In [46]:
wikipedia.summary("Catania")

"Catania (UK: , US: , Sicilian and Italian: [kaˈtaːnja] (listen)) is the second largest city of Sicily after Palermo; it is located on the east coast facing the Ionian Sea. It is the capital of the Metropolitan City of Catania, one of the ten biggest cities in Italy, and the seventh largest metropolitan city in Italy. The population of the city proper is 311,584 while the population of the Metropolitan City of Catania is 1,107,702.Catania was destroyed by catastrophic earthquakes in 1169 and 1693, and by several volcanic eruptions from the neighbouring Mount Etna, the most violent of which was in 1669.Catania was founded in the 8th century BC by Chalcidians. In 1434, the first university in Sicily was founded in the city. In the 14th century and into the Renaissance period, Catania was one of Italy's most important cultural, artistic and political centres.The city is noted for its history, culture, architecture and gastronomy. Its old town, besides being one of the biggest examples of baroque architecture in Italy, is a World Heritage Site, protected by UNESCO.\nCatania has been a native or adoptive homeland of some of Italy's most famous artists and writers, including composers Vincenzo Bellini and Giovanni Pacini, and writers Giovanni Verga, Luigi Capuana, Federico De Roberto and Nino Martoglio.\nThe city is the main industrial, logistical and commercial center of Sicily. It is the home of the Catania-Fontanarossa Airport, the largest in Southern Italy.\n\n"

In [0]:
summaries = []
for item in r_list:
  summaries.append(get_city_summary(item,3))

In [92]:
len(r_list)

604

In [93]:
len(summaries)

604

In [94]:
summaries[:10]

["Abidjan ( AB-ih-JAHN, French: [abidʒɑ̃]) is the economic capital of Ivory Coast and one of the most populous French-speaking cities in Africa. According to the 2014 census, Abidjan's population was 4.7 million, which is 20 percent of the overall population of the country, and this also makes it the sixth most populous city proper in Africa, after Lagos, Cairo, Kinshasa, Dar es Salaam, and Johannesburg. A cultural crossroads of West Africa, Abidjan is characterised by a high level of industrialisation and urbanisation.",
 'Accra  is the capital of Ghana covering an area of 225.67 km2 (87.13 sq mi) with an estimated urban population of 2.27 million as of 2012. It is organized into 12 local government districts – 11 municipal districts and the Accra Metropolitan District, which is the only district within the capital to be granted city status. "Accra" usually refers to the Accra Metropolitan Area, which serves as the capital of Ghana, while the district which is within the jurisdiction of the Accra Metropolitan Assembly is distinguished from the rest of the capital as the "City of Accra".',
 'Adana (pronounced [aˈda.na]; Armenian: Ադանա; Ancient Greek: Άδανα, Arabic: أضنة\u200e) is a major city in southern Turkey. The city is situated on the Seyhan river, 35 km (22 mi) inland from the Mediterranean, in south-central Anatolia. It is the administrative seat of the Adana Province and has a population of 1.75 million, making it the 5th most populated city in Turkey.',
 'Addis Ababa (Amharic: አዲስ አበባ, Addis Abäba IPA: [adˈdis ˈabəba] (listen), "new flower") or Addis Abeba, also known as Finfinne  (Oromo: Finfinne "natural spring"), is the capital and largest city of Ethiopia. According to the 2007 census, the city has a population of 2,739,551 inhabitants.As a chartered city, Addis Ababa also serves as the capital city of Oromia. It is where the African Union is headquartered and where its predecessor the Organisation of African Unity (OAU) was based.',
 'Agra ( (listen)) is a city on the banks of the Yamuna river in the Indian state of Uttar Pradesh. It is 206 kilometres (128 mi) south of the national capital New Delhi. Agra is the fourth-most populous city in Uttar Pradesh and 24th in India.Agra is a major tourist destination because of its many Mughal-era buildings, most notably the Taj Mahal, Agra Fort and Fatehpur Sikri, all of which are UNESCO World Heritage Sites.',
 "Ahmedabad ( (listen), pronounced as Amdavad in Gujarati) is the largest city and former capital of the Indian state of Gujarat. It is the administrative headquarters of the Ahmadabad district and the seat of the Gujarat High Court. Ahmedabad's population of 5,633,927 (as per 2011 population census) makes it the fifth-most populous city in India, and the encompassing urban agglomeration population estimated at 6,357,693 is the seventh-most populous in India.",
 "Ahvaz (Persian: اهواز\u200e, romanized: Ahvāz), also known as Ahwaz or Al-Ahwaz (Arabic: الأهواز\u200e or الأحواز), is a city in the southwest of Iran and the capital of Khuzestan province. Ahvaz's population is about 1,300,000 and its built-up area with the nearby town of Sheybani is home to 1,136,989 inhabitants. It is home to Persians, Arabs, Bakhtiaris, Dezfulis, Shushtaris, etc.",
 "Al Ahsa (Arabic: ٱلْأَحْسَاء\u200e, romanized: Al-Aḥsāʾ, locally pronounced al-Ḥasāʾ (Arabic: الحَسا\u200e)) is the largest governorate in Saudi Arabia's Eastern Province, named after the Al-Ahsa Oasis. The name Al-Ahsa is also given to the biggest city in the governorate, Hofuf. In Classical Arabic, 'Ahsa' means the sound of water underground.",
 "Albuquerque ( (listen) AL-bə-kur-kee; Navajo: Beeʼeldííl Dahsinil [pèːʔèltíːl tɑ̀xsɪ̀nɪ̀l]; Eastern Keres: Arawageeki; Jemez: Vakêêke; Zuni: Alo:ke:k'ya; Jicarilla Apache: Gołgéeki'yé), abbreviated as ABQ, is the most populous city in the U.S. state of New Mexico, and the 32nd-most populous city in the United States. The city's nicknames are The Duke City and Burque, both of which reference its 1706 founding by Nuevo México governor Francisco Cuervo y Valdés as La Villa de Alburquerque, named in honor of then Viceroy the 10th Duke of Alburquerque, the Villa was an outpost on El Camino Real for the Tiquex and Hispano towns in the area (such as Barelas, Corrales, Isleta Pueblo, Los Ranchos, and Sandia Pueblo). Since the city's founding it has continued to be included on travel and trade routes including Santa Fe Railway (ATSF), Route 66, Interstate 25, Interstate 40, and the Albuquerque International Sunport.",
 'Aleppo  (; Arabic: ﺣَﻠَﺐ\u200e / ALA-LC: Ḥalab, IPA: [ˈħalab]; French: Alep) is a city in Syria, which serves as the capital of the Aleppo Governorate, the most populous Syrian governorate. With an official population of 4.6 million in 2010, Aleppo was the largest Syrian city before the Syrian Civil War; however, it is now the second-largest city in Syria, after the capital Damascus.Aleppo is one of the oldest continuously inhabited cities in the world; it may have been inhabited since the 6th millennium BC. Excavations at Tell as-Sawda and Tell al-Ansari, just south of the old city of Aleppo, show that the area was occupied by Amorites since at least the latter part of the 3rd millennium BC. That is also the time at which Aleppo is first mentioned in cuneiform tablets unearthed in Ebla and Mesopotamia, which speak of it as part of the Amorite state of Yamhad, and note its commercial and military proficiency. Such a long history is attributed to its strategic location as a trading center midway between the Mediterranean Sea and Mesopotamia.']

In [95]:
df_nlp = pd.DataFrame({'city_names':r_list,'wiki_summary_projected':summaries})
df_nlp.head()

    city_names                             wiki_summary_projected
0      abidjan  Abidjan ( AB-ih-JAHN, French: [abidʒɑ̃]) is th...
1        accra  Accra  is the capital of Ghana covering an are...
2        adana  Adana (pronounced [aˈda.na]; Armenian: Ադանա; ...
3  addis ababa  Addis Ababa (Amharic: አዲስ አበባ, Addis Abäba IPA...
4         agra  Agra ( (listen)) is a city on the banks of the...

In [117]:
df_nlp.query('city_names == "kerkrade"')['wiki_summary_projected'][3295]

'Kerkrade (Kerkrade dialect: Kirchroa; German: Kerkrade or Kirchrath) is a town and a municipality in the southeast of Limburg, the southernmost province of the Netherlands. It forms part of the Parkstad Limburg agglomeration.\nKerkrade is the western half of a divided city; it was part of the German town of Herzogenrath until the Congress of Vienna in 1815 drew the current Dutch-German border and separated the towns. This means that the eastern end of the city marks the international border.\nThe two towns, including outlying suburban settlements, have a population approaching 100,000, of which nearly 47,000 are in Kerkrade.'

In [96]:
for item in nlp.pipe(df_nlp['wiki_summary_projected'][:10]):
  print([(ent.text.lower(), ent.label_) for ent in item.ents if ent.label_ == 'GPE'])

[('ivory coast', 'GPE'), ('abidjan', 'GPE'), ('lagos', 'GPE'), ('cairo', 'GPE'), ('kinshasa', 'GPE'), ('dar es salaam', 'GPE'), ('johannesburg', 'GPE'), ('west africa', 'GPE'), ('abidjan', 'GPE')]
[('ghana', 'GPE'), ('ghana', 'GPE')]
[('turkey', 'GPE'), ('anatolia', 'GPE'), ('the adana province', 'GPE'), ('turkey', 'GPE')]
[('addis ababa', 'GPE'), ('ethiopia', 'GPE'), ('addis ababa', 'GPE'), ('oromia', 'GPE')]
[('new delhi', 'GPE'), ('india', 'GPE')]
[('gujarati', 'GPE'), ('gujarat', 'GPE'), ('ahmadabad', 'GPE'), ('india', 'GPE'), ('india', 'GPE')]
[('iran', 'GPE'), ('khuzestan', 'GPE'), ('bakhtiaris', 'GPE'), ('dezfulis', 'GPE'), ('shushtaris', 'GPE')]
[("saudi arabia's", 'GPE'), ('eastern province', 'GPE'), ('hofuf', 'GPE'), ('classical arabic', 'GPE')]
[('beeʼeldííl dahsinil', 'GPE'), ('u.s.', 'GPE'), ('new mexico', 'GPE'), ('the united states', 'GPE'), ('the duke city', 'GPE'), ('la villa de alburquerque', 'GPE'), ('pueblo', 'GPE'), ('los ranchos', 'GPE')]
[('syria', 'GPE'), ('syria', 'GPE'), ('damascus', 'GPE'), ('ebla', 'GPE')]

In [0]:
sum_entities = []
for item in nlp.pipe(df_nlp['wiki_summary_projected']):
  sum_entities.append([k  for k in Counter(sorted([(ent.text.lower(), ent.label_) for ent in item.ents if ent.label_ in ['GPE','NORP']])).keys()])

In [98]:
sum_entities[:20]

[[('abidjan', 'GPE'),
  ('cairo', 'GPE'),
  ('dar es salaam', 'GPE'),
  ('french', 'NORP'),
  ('ivory coast', 'GPE'),
  ('johannesburg', 'GPE'),
  ('kinshasa', 'GPE'),
  ('lagos', 'GPE'),
  ('west africa', 'GPE')],
 [('ghana', 'GPE')],
 [('anatolia', 'GPE'),
  ('armenian', 'NORP'),
  ('the adana province', 'GPE'),
  ('turkey', 'GPE')],
 [('addis ababa', 'GPE'), ('ethiopia', 'GPE'), ('oromia', 'GPE')],
 [('india', 'GPE'),
  ('indian', 'NORP'),
  ('new delhi', 'GPE'),
  ('uttar pradesh', 'NORP')],
 [('ahmadabad', 'GPE'),
  ('gujarat', 'GPE'),
  ('gujarati', 'GPE'),
  ('india', 'GPE'),
  ('indian', 'NORP')],
 [('arabic', 'NORP'),
  ('arabs', 'NORP'),
  ('bakhtiaris', 'GPE'),
  ('dezfulis', 'GPE'),
  ('iran', 'GPE'),
  ('khuzestan', 'GPE'),
  ('persian', 'NORP'),
  ('persians', 'NORP'),
  ('sheybani', 'NORP'),
  ('shushtaris', 'GPE')],
 [('arabic', 'NORP'),
  ('classical arabic', 'GPE'),
  ('eastern province', 'GPE'),
  ('hofuf', 'GPE'),
  ("saudi arabia's", 'GPE')],
 [('beeʼeldííl dahsinil', 'GPE'),
  ('burque', 'NORP'),
  ('la villa de alburquerque', 'GPE'),
  ('los ranchos', 'GPE'),
  ('new mexico', 'GPE'),
  ('pueblo', 'GPE'),
  ('the duke city', 'GPE'),
  ('the united states', 'GPE'),
  ('tiquex', 'NORP'),
  ('u.s.', 'GPE')],
 [('amorite', 'NORP'),
  ('damascus', 'GPE'),
  ('ebla', 'GPE'),
  ('french', 'NORP'),
  ('syria', 'GPE'),
  ('syrian', 'NORP')],
 [('alexandria', 'NORP'),
  ('arab', 'NORP'),
  ('arabic', 'NORP'),
  ('egypt', 'GPE'),
  ('egyptian', 'NORP'),
  ('greek', 'NORP')],
 [('india', 'GPE'), ('kanpur', 'GPE'), ('new delhi', 'GPE')],
 [('allahabad', 'GPE'),
  ('illahabad', 'NORP'),
  ('india', 'GPE'),
  ('indian', 'NORP')],
 [('astana', 'GPE'),
  ('kazakhstan', 'GPE'),
  ('russian', 'NORP'),
  ('soviet', 'NORP'),
  ('верный', 'NORP')],
 [('amman', 'GPE'), ('arab', 'NORP'), ('jordan', 'GPE'), ('levant', 'GPE')],
 [('india', 'GPE'), ('indian', 'NORP'), ('majha', 'GPE'), ('punjab', 'GPE')],
 [('istanbul', 'GPE'), ('turkey', 'GPE'), ('turkish', 'NORP'), ('us', 'GPE')],
 [('anhui', 'GPE'),
  ('anqing', 'GPE'),
  ('chinese', 'NORP'),
  ('huaining county', 'GPE'),
  ('hwaining', 'GPE'),
  ("people's republic of china", 'GPE'),
  ('the taiping heavenly kingdom', 'GPE')],
 [('chinese', 'NORP'),
  ('liaoning', 'GPE'),
  ("people's republic of china", 'GPE'),
  ('shenyang', 'GPE')],
 [('china', 'GPE'), ('chinese', 'NORP'), ('guizhou', 'GPE')]]

In [99]:
df_nlp_entities = pd.concat([df_nlp,pd.DataFrame(sum_entities)],axis=1)
df_nlp_entities.head()

    city_names                             wiki_summary_projected  ...    13    14
0      abidjan  Abidjan ( AB-ih-JAHN, French: [abidʒɑ̃]) is th...  ...  None  None
1        accra  Accra  is the capital of Ghana covering an are...  ...  None  None
2        adana  Adana (pronounced [aˈda.na]; Armenian: Ադանա; ...  ...  None  None
3  addis ababa  Addis Ababa (Amharic: አዲስ አበባ, Addis Abäba IPA...  ...  None  None
4         agra  Agra ( (listen)) is a city on the banks of the...  ...  None  None

[5 rows x 17 columns]

In [100]:
df_nlp_entities.tail()

    city_names                             wiki_summary_projected  ...    13    14
599   zoucheng  Zoucheng (simplified Chinese: 邹城; traditional ...  ...  None  None
600      zunyi  Zunyi (simplified Chinese: 遵义; traditional Chi...  ...  None  None
601     ürümqi  Ürümqi (UK: , US: ; Uyghur pronunciation: [ʏrʏ...  ...  None  None
602      ōsaka  Osaka (Japanese: 大阪市, Hepburn: Ōsaka-shi, pron...  ...  None  None
603  şanlıurfa  Şanlıurfa Province (Turkish: Şanlıurfa ili) or...  ...  None  None

[5 rows x 17 columns]

In [118]:
df_nlp_entities.query('city_names == "kerkrade"')

     city_names                             wiki_summary_projected  ...    96    97
3295   kerkrade  Kerkrade (Kerkrade dialect: Kirchroa; German: ...  ...  None  None

[1 rows x 100 columns]

In [0]:
df_updated_2 = df_updated.merge(df_nlp_entities,how='left',left_on='city',right_on='city_names')

In [0]:
df_updated_2.to_csv('cities_updated_with_admin.csv',index=False)

In [103]:
df_updated_2.tail(4)

                                city_entity     city  ...    13    14
674  http://www.wikidata.org/entity/Q189128     león  ...  None  None
675  http://www.wikidata.org/entity/Q189633   guilin  ...  None  None
676  http://www.wikidata.org/entity/Q189823   haikou  ...  None  None
677  http://www.wikidata.org/entity/Q192271  guiyang  ...  None  None

[4 rows x 32 columns]

In [107]:
wiki.summary('franca')

"France (French: [fʁɑ̃s] (listen)), officially the French Republic (French: République française, pronounced [ʁepyblik fʁɑ̃sɛːz] (listen)), is a country whose territory consists of metropolitan France in Western Europe and several overseas regions and territories. The metropolitan area of France extends from the Mediterranean Sea to the English Channel and the North Sea, and from the Rhine to the Atlantic Ocean. It is bordered by Belgium, Luxembourg and Germany to the northeast, Switzerland and Italy to the east, and Andorra and Spain to the south. The overseas territories include French Guiana in South America and several islands in the Atlantic, Pacific and Indian oceans. The country's 18 integral regions (five of which are situated overseas) span a combined area of 643,801 square kilometres (248,573 sq mi) and a total population of 67.02 million (as of July 2019). France is a unitary semi-presidential republic with its capital in Paris, the country's largest city and main cultural and commercial centre. Other major urban areas include Lyon, Marseille, Toulouse, Bordeaux, Lille and Nice. France, including its overseas territories, has the most number of time zones of any country, with a total of 12.\nDuring the Iron Age, what is now metropolitan France was inhabited by the Gauls, a Celtic people. Rome annexed the area in 51 BC, holding it until the arrival of Germanic Franks in 476, who formed the Kingdom of Francia. The Treaty of Verdun of 843 partitioned Francia into East Francia, Middle Francia and West Francia. West Francia, which became the Kingdom of France in 987, emerged as a major European power in the Late Middle Ages, following its victory in the Hundred Years' War (1337–1453). During the Renaissance, French culture flourished and a global colonial empire was established, which by the 20th century would become the second largest in the world. The 16th century was dominated by religious civil wars between Catholics and Protestants (Huguenots). France became Europe's dominant cultural, political, and military power in the 17th century under Louis XIV. In the late 18th century, the French Revolution overthrew the absolute monarchy, establishing one of modern history's earliest republics and drafting the Declaration of the Rights of Man and of the Citizen, which expresses the nation's ideals to this day.\nIn the 19th century, Napoleon took power and established the First French Empire. His subsequent Napoleonic Wars (1803–15) shaped the course of continental Europe. Following the collapse of the Empire, France endured a tumultuous succession of governments culminating with the establishment of the French Third Republic in 1870. France was a major participant in World War I, from which it emerged victorious, and was one of the Allies in World War II, but came under occupation by the Axis powers in 1940. Following liberation in 1944, a Fourth Republic was established and later dissolved in the course of the Algerian War. The Fifth Republic, led by Charles de Gaulle, was formed in 1958 and remains today. Algeria and nearly all the other colonies became independent in the 1960s, with most retaining close economic and military connections with France.\nFrance has long been a global centre of art, science, and philosophy. It hosts the world's fourth-largest number of UNESCO World Heritage Sites and is the leading tourist destination, receiving around 83 million foreign visitors annually. France is a developed country with the world's sixth-largest economy by nominal GDP, and tenth-largest by purchasing power parity. In terms of aggregate household wealth, it ranks fourth in the world. France performs well in international rankings of education, health care, life expectancy, and human development. France is considered a great power in global affairs, being one of the five permanent members of the United Nations Security Council with the power to veto and an official nuclear-weapon state. It is a leading member state of the European Union and the Eurozone, and a member of the Group of 7, North Atlantic Treaty Organization (NATO), Organisation for Economic Co-operation and Development (OECD), the World Trade Organization (WTO), and La Francophonie."

In [108]:
sum_entities[:20]

[[('netherlands', 'GPE'),
  ('north brabant', 'GPE'),
  ('uk', 'GPE'),
  ('us', 'GPE')],
 [('galicia', 'GPE'), ('spain', 'GPE'), ('the kingdom of galicia', 'GPE')],
 [('aabenraa municipality', 'GPE'),
  ('denmark', 'GPE'),
  ('flensburg', 'GPE'),
  ('germany', 'GPE'),
  ('south jutland county', 'GPE'),
  ('southern denmark', 'GPE')],
 [('ausiait', 'GPE'), ('greenland', 'GPE')],
 [('australia', 'GPE'),
  ('canada', 'GPE'),
  ('ireland', 'GPE'),
  ('new zealand', 'GPE'),
  ('south africa', 'GPE'),
  ('stockholm', 'GPE'),
  ('sweden', 'GPE'),
  ('the united kingdom', 'GPE'),
  ('the united states', 'GPE'),
  ('uk', 'GPE')],
 [],
 [('peru', 'GPE'), ('quechua', 'GPE'), ('the abancay province', 'GPE')],
 [('banja luka', 'GPE'),
  ('bosnia', 'GPE'),
  ('byzacena', 'GPE'),
  ('tunisia', 'GPE')],
 [('al-daghmah', 'GPE'),
  ('alshawaf', 'GPE'),
  ('gaza strip', 'GPE'),
  ('qudayh', 'GPE')],
 [('county laois', 'GPE'), ('dublin', 'GPE'), ('ireland', 'GPE')],
 [('abbotsford', 'GPE'),
  ('british columbia', 'GPE'),
  ('canada', 'GPE'),
  ('the city of chilliwack', 'GPE'),
  ('the township of langley', 'GPE'),
  ('united states', 'GPE'),
  ('washington', 'GPE')],
 [('hazara', 'GPE'),
  ('islamabad', 'GPE'),
  ('pakistan', 'GPE'),
  ('peshawar', 'GPE')],
 [],
 [('abidjan', 'GPE'), ('ghana', 'GPE'), ('ivory coast', 'GPE')],
 [('abeokuta', 'GPE'),
  ('lagos', 'GPE'),
  ('nigeria', 'GPE'),
  ('ogun state', 'GPE')],
 [('united kingdom', 'GPE'), ('wales', 'GPE'), ('welsh county', 'GPE')],
 [('aberdeen', 'GPE'),
  ('britain', 'GPE'),
  ('scotland', 'GPE'),
  ("the united kingdom's", 'GPE'),
  ('uk', 'GPE')],
 [('asir region', 'GPE'), ('saudi arabia', 'GPE')],
 [('abidjan', 'GPE'),
  ('cairo', 'GPE'),
  ('dar es salaam', 'GPE'),
  ('france', 'GPE'),
  ('ivory coast', 'GPE'),
  ('johannesburg', 'GPE'),
  ('kinshasa', 'GPE'),
  ('lagos', 'GPE'),
  ('the abidjan autonomous district', 'GPE'),
  ('west africa', 'GPE'),
  ('yamoussoukro', 'GPE')],
 [('abdelhamid', 'GPE'),
  ('abdil', 'GPE'),
  ('abdol', 'GPE'),
  ('abdool', 'GPE')]]

In [60]:
for item in sum_entities:
  if len(item) > 10:
    print(item)

[('alans', 'NORP'), ('aryan', 'NORP'), ('caucasian', 'NORP'), ('chinese', 'NORP'), ('iranian', 'NORP'), ('latin', 'NORP'), ('massagetae', 'GPE'), ('roman', 'NORP'), ('sarmatians', 'NORP'), ('the central asian', 'NORP'), ('the parthian empire', 'GPE'), ('the roman empire', 'GPE')]
[('arabs', 'NORP'), ('assyrians', 'NORP'), ('babylonians', 'NORP'), ('greek', 'NORP'), ('hasmoneans', 'NORP'), ('hebrew', 'NORP'), ('israel', 'GPE'), ('mamluks', 'GPE'), ('persians', 'NORP'), ('phoenicians', 'NORP'), ('romans', 'NORP'), ('tel aviv', 'GPE'), ('the ancient egyptians', 'NORP'), ('the gaza strip', 'GPE'), ('אַשְׁקְלוֹן', 'GPE')]
[('banya', 'GPE'), ('bucharest', 'GPE'), ('german', 'NORP'), ('hungarian', 'NORP'), ('hungary', 'GPE'), ('igniș', 'NORP'), ('latin', 'NORP'), ('maramureș county', 'GPE'), ('romania', 'GPE'), ('romanian', 'NORP'), ('ukraine', 'GPE'), ('us', 'GPE'), ('yiddish', 'NORP'), ('באניע\u200e', 'NORP')]
[('bolognese', 'NORP'), ('bononia', 'GPE'), ('bulåggna', 'NORP'), ('emilia-romagna', 'NORP'), ('etruscan', 'NORP'), ('etruscans', 'NORP'), ('european', 'NORP'), ('italian', 'NORP'), ('italy', 'GPE'), ('latin', 'NORP'), ('romans', 'NORP'), ('uk', 'GPE')]
[('botoschan', 'GPE'), ('botoszany', 'GPE'), ('botosány', 'GPE'), ('botoșani county', 'GPE'), ('german', 'NORP'), ('hungarian', 'NORP'), ('moldavia', 'GPE'), ('polish', 'NORP'), ('prince stephen the great', 'GPE'), ('romania', 'GPE'), ('romanian', 'NORP')]
[('brașov county', 'GPE'), ('bucharest', 'GPE'), ('corona', 'GPE'), ('german', 'NORP'), ('hungarian', 'NORP'), ('latin', 'NORP'), ('romania', 'GPE'), ('romanian', 'NORP'), ('transylvanian', 'NORP'), ('uk', 'GPE'), ('us', 'GPE')]
[('busan metropolitan city', 'GPE'), ('honshu', 'GPE'), ('japanese', 'NORP'), ('korea', 'GPE'), ('korean', 'NORP'), ('kyushu', 'GPE'), ('pusan', 'GPE'), ('seoul', 'GPE'), ('south gyeongsang', 'GPE'), ('south korea', 'GPE'), ("south korea's", 'GPE')]
[('bengali', 'NORP'), ('butuan city', 'GPE'), ('butuanon', 'GPE'), ('champa', 'GPE'), ('dakbayan', 'NORP'), ('majapahit', 'GPE'), ('ming', 'GPE'), ('philippine', 'NORP'), ('philippines', 'GPE'), ('srivijaya', 'GPE'), ('the city of butuan', 'GPE')]
[('changzhou', 'GPE'), ('changzhounese', 'NORP'), ('china', 'GPE'), ('chinese', 'NORP'), ('jiangsu province', 'GPE'), ('jinling', 'GPE'), ('lanling', 'GPE'), ('nanjing', 'GPE'), ('yanling', 'GPE'), ('zhejiang', 'GPE'), ('zhenjiang', 'GPE')]
[('berlin', 'GPE'), ('central german', 'NORP'), ('czech', 'NORP'), ('dresden', 'GPE'), ('east germany', 'GPE'), ('freiberg', 'GPE'), ('german', 'NORP'), ('germany', 'GPE'), ('leipzig', 'GPE'), ('plauen', 'GPE'), ('saxony', 'GPE')]
[('arabic', 'NORP'), ('armenian', 'NORP'), ('cizre', 'GPE'), ('gziro', 'GPE'), ('iraqi', 'NORP'), ('kurdish', 'NORP'), ('syria', 'GPE'), ('syrian', 'NORP'), ('turkey', 'GPE'), ('turkish', 'NORP'), ('turkish kurdistan', 'GPE'), ('şırnak province', 'GPE')]
[('belgrade', 'GPE'), ('bucharest', 'GPE'), ('budapest', 'GPE'), ('cluj county', 'GPE'), ('german', 'NORP'), ('hungarian', 'NORP'), ('kloiznburg', 'GPE'), ('romania', 'GPE'), ('romanian', 'NORP'), ('transylvania', 'GPE'), ('yiddish', 'NORP')]
[('baghdad', 'GPE'), ('greek', 'NORP'), ('hellenistic', 'NORP'), ('middle persian', 'NORP'), ('muslim', 'NORP'), ('parthian', 'NORP'), ('persia', 'GPE'), ('persian', 'NORP'), ('sasanian', 'NORP'), ('seleucia', 'GPE'), ('the persian empire', 'GPE'), ('the sasanian empire', 'GPE')]
[('dalian', 'GPE'), ('huludao', 'GPE'), ('liaodong', 'GPE'), ('liaoning', 'GPE'), ('liaoning province', 'GPE'), ('north korea', 'GPE'), ("people's republic of china", 'GPE'), ('shandong', 'GPE'), ('shenyang', 'GPE'), ('weihai', 'GPE'), ('yantai', 'GPE'), ('yingkou', 'GPE')]
[('afar', 'GPE'), ('arabic', 'NORP'), ('djibouti', 'GPE'), ('eritrea', 'GPE'), ('ethiopia', 'GPE'), ('french', 'NORP'), ('somali', 'NORP'), ('somalia', 'GPE'), ('the republic of djibouti', 'GPE'), ('yemen', 'GPE'), ('yibuuti', 'GPE')]
[('berlin', 'GPE'), ('cologne', 'GPE'), ('czech', 'NORP'), ('dresden', 'GPE'), ('drezno', 'NORP'), ('east germany', 'GPE'), ('german', 'NORP'), ('germany', 'GPE'), ('hamburg', 'GPE'), ('leipzig', 'GPE'), ('polish', 'NORP'), ('saxony', 'GPE')]
[('bulgaria', 'GPE'), ('bulgarian', 'NORP'), ('east thrace', 'GPE'), ('edirne', 'GPE'), ('greece', 'GPE'), ('istanbul', 'GPE'), ('latin', 'NORP'), ('roman', 'NORP'), ('the ottoman empire', 'GPE'), ('thracian', 'NORP'), ('turkey', 'GPE'), ('turkish', 'NORP'), ('us', 'GPE')]
[('andorra', 'GPE'), ('belgium', 'GPE'), ('france', 'GPE'), ('french', 'NORP'), ('germany', 'GPE'), ('italy', 'GPE'), ('luxembourg', 'GPE'), ('république', 'NORP'), ('spain', 'GPE'), ('switzerland', 'GPE'), ('the french republic', 'GPE')]
[('baltic', 'NORP'), ('danzig', 'GPE'), ('gdynia', 'GPE'), ('german', 'NORP'), ('kashubia', 'GPE'), ('kashubian', 'NORP'), ('poland', 'GPE'), ('polish', 'NORP'), ('sopot', 'GPE'), ('the pomeranian voivodeship', 'GPE'), ('us', 'GPE')]
[('canton', 'GPE'), ('cantonese', 'NORP'), ('china', 'GPE'), ('chinese', 'NORP'), ('dongguan', 'GPE'), ('foshan', 'GPE'), ('guangdong', 'GPE'), ('guangzhou', 'GPE'), ('hong kong', 'GPE'), ('macau', 'GPE'), ('shenzhen', 'GPE'), ('zhongshan', 'GPE')]
[('berlin', 'GPE'), ('dresden', 'GPE'), ('east germany', 'GPE'), ('german', 'NORP'), ('germany', 'GPE'), ('halle', 'GPE'), ('leipzig', 'GPE'), ('magdeburg', 'GPE'), ('sachsen', 'GPE'), ('saxony', 'GPE'), ('uk', 'GPE'), ('us', 'GPE')]
[('anhui', 'GPE'), ('chinese', 'NORP'), ('chuzhou', 'GPE'), ("huai'an", 'GPE'), ('jiangsu province', 'GPE'), ('lianyungang', 'GPE'), ('nanjing', 'GPE'), ('suqian', 'NORP'), ("the people's republic of china", 'GPE'), ('yancheng', 'GPE'), ('yangzhou', 'GPE')]
[('changde', 'NORP'), ('china', 'GPE'), ('chinese', 'NORP'), ('guangxi', 'GPE'), ('guizhou', 'GPE'), ('hunan province', 'GPE'), ('liuzhou', 'GPE'), ('loudi', 'GPE'), ('qiandongnan', 'GPE'), ('shaoyang', 'GPE'), ('xiangxi', 'GPE'), ('yiyang', 'GPE'), ('zhangjiajie', 'GPE')]
[('daejeon', 'NORP'), ('iksan county', 'GPE'), ('janghang', 'GPE'), ('jeolla', 'GPE'), ('jeollabuk', 'GPE'), ('jeonju', 'GPE'), ('korean', 'NORP'), ('north jeolla province', 'GPE'), ('seoul', 'GPE'), ('south korea', 'GPE'), ('yeosu', 'GPE')]
[('austria', 'GPE'), ('european', 'NORP'), ('france', 'GPE'), ('italia', 'GPE'), ('italian', 'NORP'), ('italy', 'GPE'), ('san marino', 'GPE'), ('slovenia', 'GPE'), ('switzerland', 'GPE'), ('the italian republic', 'GPE'), ('vatican city', 'GPE')]
[("bo'ai county", 'GPE'), ('china', 'GPE'), ('chinese', 'NORP'), ('henan province', 'GPE'), ('jiefang', 'GPE'), ('jiyuan', 'GPE'), ('luoyang', 'GPE'), ('macun', 'GPE'), ('shanxi', 'GPE'), ('shanyang', 'GPE'), ('xinxiang', 'GPE'), ('zhengzhou', 'GPE'), ('zhongzhan', 'GPE')]
[('baden', 'GPE'), ('baden-baden', 'GPE'), ('baden-württemberg', 'GPE'), ('french', 'NORP'), ('german', 'NORP'), ('germany', 'GPE'), ('karlsruhe', 'GPE'), ('rhine', 'NORP'), ('strasbourg', 'GPE'), ('stuttgart', 'GPE'), ('us', 'GPE')]
[('aachen', 'GPE'), ('belgian', 'NORP'), ('belgium', 'GPE'), ('dutch', 'NORP'), ('french', 'NORP'), ('german', 'NORP'), ('germany', 'GPE'), ('liège', 'GPE'), ('lüttich', 'GPE'), ('maastricht', 'GPE'), ('netherlands', 'GPE'), ('walloon city', 'GPE')]
[('changting', 'GPE'), ('chinese', 'NORP'), ('fujian', 'GPE'), ('fujian province', 'GPE'), ('guangdong', 'GPE'), ('hakka', 'NORP'), ('huanglian', 'NORP'), ('jiangxi', 'GPE'), ('liong', 'GPE'), ('lóngyán', 'GPE'), ("people's republic of china", 'GPE'), ('tingzhou', 'GPE'), ('xinluo', 'GPE')]
[('belgium', 'GPE'), ('brussels', 'GPE'), ('france', 'GPE'), ('frankfurt', 'GPE'), ('french', 'NORP'), ('german', 'NORP'), ('germany', 'GPE'), ('luxembourg', 'GPE'), ('luxembourg city', 'GPE'), ('luxembourgish', 'NORP'), ('strasbourg', 'GPE')]
[('ancient egyptian', 'NORP'), ('arabic', 'NORP'), ('diospolis', 'GPE'), ('egypt', 'GPE'), ('egyptian', 'NORP'), ('karnak', 'GPE'), ('luxor', 'GPE'), ('necropolis', 'GPE'), ('thebes', 'GPE'), ('upper', 'GPE'), ('upper egyptian', 'NORP'), ('waset', 'GPE')]
[('arabic', 'NORP'), ('baghdad', 'GPE'), ('bengali', 'NORP'), ('imams', 'NORP'), ('indonesian', 'NORP'), ('manser', 'GPE'), ('mansoor', 'GPE'), ('mansur', 'GPE'), ('moghulistan', 'GPE'), ('mounsor', 'GPE'), ('persian', 'NORP'), ('samanids', 'GPE'), ('sufism', 'NORP'), ('yemen', 'GPE')]
[('bulacan', 'GPE'), ('caloocan', 'NORP'), ('malolos city', 'GPE'), ('manila', 'GPE'), ('marilao', 'GPE'), ('meycauayan', 'GPE'), ('meycauayan city', 'GPE'), ('obando', 'GPE'), ('philippines', 'GPE'), ('the city of meycauayan', 'GPE'), ('valenzuela', 'GPE')]
[('emilia-romagna', 'NORP'), ('etruscan', 'NORP'), ('italian', 'NORP'), ('italy', 'GPE'), ('latin', 'NORP'), ('maserati', 'GPE'), ('modena', 'GPE'), ('modenese', 'NORP'), ('mutina', 'GPE'), ('the province of modena', 'GPE'), ('uk', 'GPE'), ('us', 'GPE')]
[('dutch', 'NORP'), ('flughafen', 'GPE'), ('german', 'NORP'), ('germany', 'GPE'), ('giesenkirchen‑nord', 'GPE'), ('holt', 'GPE'), ('mönchengladbach', 'GPE'), ('north rhine-westphalia', 'GPE'), ('pongs', 'GPE'), ('schmölderpark', 'GPE'), ('waldhausen', 'GPE'), ('westend', 'GPE'), ('windberg', 'GPE')]
[('byzantine', 'GPE'), ('christian', 'NORP'), ('greek', 'NORP'), ('jerusalem', 'GPE'), ('nablus', 'GPE'), ('palestinian', 'NORP'), ('roman', 'NORP'), ('samaritan', 'GPE'), ('vespasian', 'NORP'), ('west bank', 'GPE'), ('νeápolis', 'NORP')]
[('china', 'GPE'), ('chinese', 'NORP'), ('jiangsu province', 'GPE'), ('nantong', 'GPE'), ('nantung', 'GPE'), ('qihai', 'GPE'), ('shanghai', 'GPE'), ('suzhou', 'GPE'), ('taizhou', 'GPE'), ('tongzhou', 'GPE'), ('tungchow', 'GPE'), ('wuxi', 'GPE')]
[('abuja in nigeria', 'GPE'), ('australia', 'GPE'), ('brasília', 'GPE'), ('brazil', 'GPE'), ('canberra', 'GPE'), ('d.c.', 'GPE'), ('islamabad', 'GPE'), ('myanmar', 'GPE'), ('pakistan', 'GPE'), ('the united states', 'GPE'), ('washington', 'GPE')]
[('iran', 'GPE'), ('khorasan province', 'GPE'), ('khorasan razavi province', 'GPE'), ('middle persian', 'NORP'), ('new city of shapur', 'GPE'), ('nishabur', 'GPE'), ('nishapur', 'GPE'), ('nişapur', 'GPE'), ('nīshāpūr', 'GPE'), ('persian', 'NORP'), ('shapur', 'GPE'), ('the nishapur county', 'GPE'), ('نیشابور\u200e', 'GPE')]
[('bihor county', 'GPE'), ('crișana', 'GPE'), ('german', 'NORP'), ('hungarian', 'NORP'), ('hungary', 'GPE'), ('oradea', 'GPE'), ('romania', 'GPE'), ('romanian', 'NORP'), ('turkish', 'NORP'), ('uk', 'GPE'), ('us', 'GPE'), ('várad', 'GPE'), ('yiddish', 'NORP')]
[('andalusian', 'NORP'), ('arabic', 'NORP'), ('armenia', 'GPE'), ('azerbaijan', 'GPE'), ('egypt', 'GPE'), ('greece', 'GPE'), ('iran', 'GPE'), ('iraq', 'GPE'), ('kurdistan', 'GPE'), ('lebanon', 'GPE'), ('north african chaabi', 'GPE'), ('palestine', 'GPE'), ('persian', 'NORP'), ('saudi arabia', 'GPE'), ('somalia', 'GPE'), ('sudan', 'GPE'), ('syria', 'GPE'), ('turkey', 'GPE'), ('western', 'NORP'), ('yemen', 'GPE')]
[('augsburg', 'GPE'), ('austro-bavarian', 'NORP'), ('bavaria', 'GPE'), ('danube', 'GPE'), ('german', 'NORP'), ('germany', 'GPE'), ('munich', 'GPE'), ('nuremberg', 'GPE'), ('rengschburch', 'GPE'), ('rengschburg', 'GPE'), ('the state', 'GPE'), ('us', 'GPE')]
[('calabria', 'GPE'), ('emilia-romagna', 'NORP'), ('emilian', 'NORP'), ('italian', 'NORP'), ('italy', 'GPE'), ('latin', 'NORP'), ('reggiani', 'NORP'), ('reggini', 'GPE'), ('reggio', 'GPE'), ('the province of reggio emilia', 'GPE'), ('us', 'GPE')]
[('american', 'NORP'), ('argentine', 'NORP'), ('bolivian', 'NORP'), ('chilean', 'NORP'), ('colombian', 'NORP'), ('costa rican', 'NORP'), ('cuban', 'NORP'), ('ecuador', 'GPE'), ('featherweight', 'GPE'), ('mexican', 'NORP'), ('new orleans', 'GPE'), ('new york', 'GPE'), ('peruvian', 'NORP'), ('rochester', 'GPE'), ('spain', 'GPE'), ('spanish', 'NORP'), ('the dominican republic', 'GPE'), ('venezuelan', 'NORP')]
[('afghanistan', 'GPE'), ('india', 'GPE'), ('iran', 'GPE'), ('japan', 'GPE'), ('japanese', 'NORP'), ('korea', 'GPE'), ('mainland china', 'GPE'), ('myanmar', 'GPE'), ('nepal', 'GPE'), ('pakistan', 'GPE'), ('taiwan', 'GPE'), ('thailand', 'GPE'), ('west siberia', 'GPE')]
[('aragonese', 'NORP'), ('italian', 'NORP'), ('pisans', 'NORP'), ('sardinia', 'GPE'), ('sardinian', 'NORP'), ('sassarese', 'NORP'), ('sassaresi', 'NORP'), ('sassari', 'GPE'), ('spanish', 'NORP'), ('tàtari', 'NORP'), ('us', 'GPE')]
[('bucharest', 'GPE'), ('german', 'NORP'), ('hermanshtat', 'GPE'), ('hungarian', 'NORP'), ('härmeschtat', 'NORP'), ('romania', 'GPE'), ('romanian', 'NORP'), ('sibiu', 'GPE'), ('sibiu county', 'GPE'), ('transylvania', 'GPE'), ('transylvanian', 'NORP'), ('yiddish', 'NORP')]
[('austria', 'GPE'), ('bukovina', 'GPE'), ('german', 'NORP'), ('hungary', 'GPE'), ('kingdom of romania', 'GPE'), ('moldavia', 'GPE'), ('old kingdom', 'GPE'), ('romania', 'GPE'), ('romanian', 'NORP'), ('suceava county', 'GPE'), ('the austrian empire', 'GPE')]
[('chengdu', 'GPE'), ('chinese', 'NORP'), ('chongqing', 'GPE'), ('deyang', 'GPE'), ("guang'an", 'GPE'), ('mianyang', 'GPE'), ('nanchong', 'GPE'), ('neijiang', 'GPE'), ('sichuan', 'GPE'), ('sichuanese', 'NORP'), ('ziyang', 'GPE')]
[('german', 'NORP'), ('hungarian', 'NORP'), ('romania', 'GPE'), ('romanian', 'NORP'), ('serbian', 'NORP'), ('temeschburg', 'GPE'), ('temeschwar', 'GPE'), ('the city of flowers', 'GPE'), ('timiș county', 'GPE'), ('timișoara', 'GPE'), ('turkish', 'NORP'), ('uk', 'GPE'), ('us', 'GPE')]
[('afghanistan', 'GPE'), ('china', 'GPE'), ('iran', 'GPE'), ('kazakhstan', 'GPE'), ('kyrgyzstan', 'GPE'), ('persian', 'NORP'), ('tajikistan', 'GPE'), ('tibet', 'GPE'), ('turkistan', 'GPE'), ('turkmenistan', 'GPE'), ('turks', 'NORP'), ('uyghuristan', 'GPE'), ('xinjiang', 'GPE')]
[('al-qassim province', 'GPE'), ('arabic', 'NORP'), ('buraydah', 'GPE'), ('iran', 'GPE'), ('iraq', 'GPE'), ('muslim', 'NORP'), ('onaizah', 'GPE'), ('onizah', 'GPE'), ('persia', 'GPE'), ('riyadh', 'GPE'), ('saudi arabian', 'NORP'), ('the al qassim province', 'GPE'), ('the kingdom of saudi arabia', 'GPE'), ('unaizah', 'GPE'), ('unayzah', 'NORP')]
[('fujian province', 'GPE'), ('haicang', 'GPE'), ('hokkien', 'GPE'), ('huli', 'GPE'), ('jimei', 'GPE'), ("people's republic of china", 'GPE'), ("tong'an", 'GPE'), ('uk', 'GPE'), ('us', 'GPE'), ('xiamen', 'GPE'), ("xiang'an", 'GPE')]
[('andong city', 'GPE'), ('bonghwa county', 'GPE'), ('confucian', 'NORP'), ('danyang county', 'GPE'), ('gangwon province', 'GPE'), ('korean', 'NORP'), ('north chungcheong', 'GPE'), ('north gyeongsang', 'GPE'), ('south korea', 'GPE'), ('yecheon', 'GPE'), ('yeongju', 'GPE'), ('yeongwol county', 'GPE')]
[('korean', 'NORP'), ('namhae county', 'GPE'), ('south gyeongsang province', 'GPE'), ('south jeolla province', 'GPE'), ('south korea', 'GPE'), ('suncheon', 'GPE'), ('yeocheon city', 'GPE'), ('yeocheon county', 'GPE'), ('yeosu', 'GPE'), ('yeosu', 'NORP'), ('yeosu city', 'GPE')]
[('anshan', 'GPE'), ('chinese', 'NORP'), ('dalian', 'GPE'), ('huludao', 'GPE'), ('jinzhou', 'GPE'), ('liaoning', 'GPE'), ('liaoning province', 'GPE'), ('panjin', 'GPE'), ("people's republic of china", 'GPE'), ('yíngkǒu', 'GPE'), ('zhanqian', 'NORP')]
[('binzhou', 'GPE'), ('boshan', 'GPE'), ('china', 'GPE'), ('chinese', 'NORP'), ('jinan', 'GPE'), ('laiwu', 'GPE'), ('linyi', 'GPE'), ('shandong province', 'GPE'), ("tai'an", 'GPE'), ('weifang', 'GPE'), ('zhangdian', 'NORP'), ('zhoucun', 'GPE'), ('zichuan', 'GPE')]