<a href="https://colab.research.google.com/github/ravi-gopalan/DAND_Data_Wrangling/blob/master/wiki_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [2]:
cd '/gdrive/My Drive/abv_reviews'

/gdrive/My Drive/abv_reviews

In [3]:
ls

 CoherenceScore.csv          pyLDAvis_11.html   pyLDAvis_29.html
 datalist_corrected.csv      pyLDAvis_12.html   pyLDAvis_3.html
 dictionary                  pyLDAvis_13.html   pyLDAvis_4.html
 dish_keyword_patterns.npz   pyLDAvis_14.html   pyLDAvis_5.html
 doc_term_matrix.mm          pyLDAvis_15.html   pyLDAvis_6.html
 doc_term_matrix.mm.index    pyLDAvis_16.html   pyLDAvis_7.html
 images/                     pyLDAvis_17.html   pyLDAvis_8.html
 lda                         pyLDAvis_18.html   pyLDAvis_9.html
 lda.expElogbeta.npy         pyLDAvis_19.html   reviews_text.csv
 lda_final                   pyLDAvis_20.html   taste_atlas_info_de.jsonl
 lda_final.expElogbeta.npy   pyLDAvis_21.html   taste_atlas_info_es.jsonl
 lda_final.id2word           pyLDAvis_22.html   taste_atlas_info_fr.jsonl
 lda_final.state             pyLDAvis_23.html   taste_atlas_info_fy.jsonl
 lda.id2word                 pyLDAvis_24.html   taste_atlas_info_it.jsonl
 lda.state                   pyLDAvis_25.html   taste_atlas_info.jsonl
 patterns.jsonl              pyLDAvis_26.html   test_summaries.csv
 pending_images/             pyLDAvis_27.html  'Topic coherence plot.png'
 pyLDAvis_10.html            pyLDAvis_28.html

In [0]:
import pandas as pd
import json
import numpy as np
import timeit

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
df = pd.read_json('taste_atlas_info.jsonl',lines=True)
df.head()

                name  ...                                          image_ref
0       'mpanatigghi  ...  https://upload.wikimedia.org/wikipedia/commons...
1             'nduja  ...  https://upload.wikimedia.org/wikipedia/commons...
2          'ota 'ika  ...  https://upload.wikimedia.org/wikipedia/commons...
3  .amaro ramazzotti  ...  https://upload.wikimedia.org/wikipedia/commons...
4       20th century  ...  https://upload.wikimedia.org/wikipedia/commons...

[5 rows x 4 columns]

In [0]:
df['food'] = df['summary'].str.lower().str.contains('food')
df['dish'] = df['summary'].str.lower().str.contains('dish')
df['drink'] = df['summary'].str.lower().str.contains('drink')
df['cheese'] = df['summary'].str.lower().str.contains('cheese')
df['cookie'] = df['summary'].str.lower().str.contains('cookie')
df['cake'] = df['summary'].str.lower().str.contains('cake')
df['dessert'] = df['summary'].str.lower().str.contains('dessert')
df['bread'] = df['summary'].str.lower().str.contains('bread')
df['wine'] = df['summary'].str.lower().str.contains('wine')
df['soup'] = df['summary'].str.lower().str.contains('soup')
df['beer'] = df['summary'].str.lower().str.contains('beer')
df['chocolate'] = df['summary'].str.lower().str.contains('chocolate')
df['cocktail'] = df['summary'].str.lower().str.contains('cocktail')
df['pickle'] = df['summary'].str.lower().str.contains('pickle')
df['pasta'] = df['summary'].str.lower().str.contains('pasta')
df['snack'] = df['summary'].str.lower().str.contains('snack')
df['biscuit'] = df['summary'].str.lower().str.contains('biscuit')
df['ham'] = df['summary'].str.lower().str.contains('ham')
df['pie'] = df['summary'].str.lower().str.contains('pie')
df['sandwich'] = df['summary'].str.lower().str.contains('sandwich')
df['tofu'] = df['summary'].str.lower().str.contains('tofu')
df['pastry'] = (df['summary'].str.lower().str.contains('pastry') | df['summary'].str.lower().str.contains('pastries'))
df['porridge'] = df['summary'].str.lower().str.contains('porridge')
df['meat'] = df['summary'].str.lower().str.contains('meat')
df['stew'] = df['summary'].str.lower().str.contains('stew')
df['beverage'] = df['summary'].str.lower().str.contains('beverage')
df['paste'] = df['summary'].str.lower().str.contains('paste')
df['sauce'] = df['summary'].str.lower().str.contains('sauce')
df['sausage'] = df['summary'].str.lower().str.contains('sausage')
df['spice'] = df['summary'].str.lower().str.contains('spice')
df['seasoning'] = df['summary'].str.lower().str.contains('seasoning')
df['salad'] = df['summary'].str.lower().str.contains('salad')
df['omelette'] = df['summary'].str.lower().str.contains('omelette')
df['sweet'] = df['summary'].str.lower().str.contains('sweet')
df['pudding'] = df['summary'].str.lower().str.contains('pudding')
df['pizza'] = df['summary'].str.lower().str.contains('pizza')
df['bun'] = df['summary'].str.lower().str.contains('bun')
df['pork'] = df['summary'].str.lower().str.contains('pork')
df['beef'] = df['summary'].str.lower().str.contains('beef')

In [132]:
df.head()

                name  ...    ham
0       'mpanatigghi  ...  False
1             'nduja  ...  False
2          'ota 'ika  ...  False
3  .amaro ramazzotti  ...  False
4       20th century  ...  False

[5 rows x 22 columns]

In [57]:
df[df['summary'].isna()]

               name page summary image_ref  ... cheese cookie cake dessert
6             a gei  NaN     NaN       NaN  ...    NaN    NaN  NaN     NaN
24      acqua pazza  NaN     NaN       NaN  ...    NaN    NaN  NaN     NaN
106            amba  NaN     NaN       NaN  ...    NaN    NaN  NaN     NaN
111       americano  NaN     NaN       NaN  ...    NaN    NaN  NaN     NaN
133            anju  NaN     NaN       NaN  ...    NaN    NaN  NaN     NaN
...             ...  ...     ...       ...  ...    ...    ...  ...     ...
4947           yarg  NaN     NaN       NaN  ...    NaN    NaN  NaN     NaN
4972  yuvalama soup  NaN     NaN       NaN  ...    NaN    NaN  NaN     NaN
4997           zhal  NaN     NaN       NaN  ...    NaN    NaN  NaN     NaN
5036          ñachi  NaN     NaN       NaN  ...    NaN    NaN  NaN     NaN
5040         ćwikła  NaN     NaN       NaN  ...    NaN    NaN  NaN     NaN

[284 rows x 11 columns]

In [42]:
df.shape

(5055, 9)

In [0]:
food_str = '(food == False)'
dish_str = '(dish == False)'
drink_str = '(drink == False)'
cheese_str = '(cheese == False)'
cookie_str = '(cookie == False)'
cake_str = '(cake == False)'
dessert_str = '(dessert == False)'
bread_str = '(bread == False)'
wine_str = '(wine == False)'
soup_str = '(soup == False)'
beer_str = '(beer == False)'
chocolate_str = '(chocolate == False)'
cocktail_str = '(cocktail == False)'
pickle_str = '(pickle == False)'
pasta_str = '(pasta == False)'
snack_str = '(snack == False)'
biscuit_str = '(biscuit == False)'
ham_str = '(ham == False)'
pie_str = '(pie == False)'
sandwich_str = '(sandwich == False)'
tofu_str = '(tofu == False)'
pastry_str = '(pastry == False)'
porridge_str = '(porridge == False)'
meat_str = '(meat == False)'
stew_str = '(stew == False)'
beverage_str = '(beverage == False)'
paste_str = '(paste == False)'
sauce_str = '(sauce == False)'
sausage_str = '(sausage == False)'
spice_str = '(spice == False)'
seasoning_str = '(seasoning == False)'
salad_str = '(salad == False)'
omelette_str = '(omelette == False)'
sweet_str = '(sweet == False)'
pudding_str = '(pudding == False)'
pizza_str = '(pizza == False)'
bun_str = '(bun == False)'
pork_str = '(pork == False)'
beef_str = '(beef == False)'

q_string = food_str + '&' + dish_str + '&' + drink_str + '&' + cheese_str + '&' + cookie_str + '&' +\
cake_str + '&' + dessert_str + '&' + bread_str + '&' + wine_str + '&' + soup_str + '&' + beer_str + '&' +\
chocolate_str + '&' + cocktail_str + '&' + pickle_str + '&' + pasta_str  + '&' + snack_str  + '&' + biscuit_str + '&' +\
ham_str + '&' + pie_str + '&' + sandwich_str + '&' + tofu_str  + '&' + pastry_str + '&' + porridge_str + '&' +\
meat_str + '&' + stew_str + '&' + beverage_str + '&' + paste_str + '&' + sauce_str + '&' + sausage_str + '&' + spice_str + '&' +\
seasoning_str + '&' + salad_str + '&' + omelette_str + '&' + sweet_str + '&' + pudding_str + '&' + pizza_str + '&' + bun_str + '&' +\
pork_str + '&' + beef_str

#q_string = '(food == False) & (dish == False) & (drink == False) & (cheese == False) & (cookie == False) & (cake == False) & (dessert == False) & (bread == False)'

In [218]:
q_string

'(food == False)&(dish == False)&(drink == False)&(cheese == False)&(cookie == False)&(cake == False)&(dessert == False)&(bread == False)&(wine == False)&(soup == False)&(beer == False)&(chocolate == False)&(cocktail == False)&(pickle == False)&(pasta == False)&(snack == False)&(biscuit == False)&(ham == False)&(pie == False)&(sandwich == False)&(tofu == False)&(pastry == False)&(porridge == False)&(meat == False)&(stew == False)&(beverage == False)&(paste == False)&(sauce == False)&(sausage == False)&(spice == False)&(seasoning == False)&(salad == False)'

In [268]:
df.query(q_string, engine='python')['summary']

4       Twentieth Century Fox Film Corporation (colloq...
16      Eiffel is a French rock group founded in 1998 ...
27      Adjara (Georgian: აჭარა Ač’ara [at͡ʃʼara] (lis...
36      Agent Orange is a herbicide and defoliant chem...
59      Ise (伊勢市, Ise-shi), formerly called Ujiyamada ...
                              ...
4992    A zentai suit (from Japanese  ゼンタイ zentai) is ...
5000    Zhenjiang or Chinkiang vinegar is a rice-based...
5005    Zita (c. 1212 – 27 April 1272; also known as S...
5015    Sendai (仙台市, Sendai-shi, Japanese: [seꜜndai]) ...
5048    Širden is one of the rare delicacies in the co...
Name: summary, Length: 426, dtype: object

In [269]:
df.query(q_string, engine='python')['summary'][0:400][50:100]

463     Black Eyed Peas (also known as The Black Eyed ...
468     Tuber melanosporum, called the black truffle, ...
469     The black turtle bean is a small, shiny variet...
470     "Black Velvet" is a song written by Canadian s...
485     Blondie is an American rock band founded by si...
486     The blood orange is a variety of orange (Citru...
493     Blue Hawaii is a 1961 American musical romanti...
495     A blue moon is an additional full moon that ap...
503     Robert Paul Burns (September 1, 1878 – January...
517     A boilermaker is a tradesperson who fabricates...
522     Bolo de arroz is a Portuguese rice muffin, com...
532     Lilakoi Moon (born Lisa Michelle Bonet, Novemb...
563     Borgata Hotel Casino & Spa is a hotel, casino,...
568     Flâneur (pronounced [flɑnœʁ]), from the French...
573     Bourbon whiskey  is a type of American whiskey...
577     Bovec (pronounced [ˈbɔːʋəts] (listen) or [ˈboː...
605     Brendel is a surname. Notable people with the ...
608     The poulet de Bresse (French pronunciation: ​[...
622     Brooklyn () is a borough of New York City, cot...
662     Bukayo Saka (born 5 September 2001) is an Engl...
688     Bushwhacking was a form of guerrilla warfare c...
744     Cachena cattle is a triple-purpose breed from ...
753     Gaius Julius Caesar ( SEE-zər, Latin: [ˈɡaːɪ.ʊ...
760     Café du Monde (French for "Café of the World" ...
762     The Café Tortoni is a coffeehouse located at 8...
771     Calcagno is an Italian surname. Notable people...
782     Gram flour or Channa dal or besan (Hindi: बेसन...
783     Calf Head (54°28′S 36°3′W) is a rocky headland...
788     Calculus, originally called infinitesimal calc...
789     Calvados (UK: , US: , French: [kalvados] (list...
798     Candy apples, also known as toffee apples outs...
805     Sprat is the common name applied to a group of...
809     Cantal (French pronunciation: ​[kɑ̃tal]) is a ...
818     "Capparis" is also a family name, see e.g. Mel...
855     Carrum is a suburb in Melbourne, Victoria, Aus...
857     Carurú is a town and municipality located in t...
863     A casino is a facility for certain types of ga...
889     Cağ kebabı (pronounced [ˈdʒaː cebabɯ]) is a ho...
890     Pedrafita do Cebreiro is a municipality in the...
893     A concrete mixer (often colloquially called a ...
911     Chairo (feminine chaira) is a pejorative epith...
941     A chapalele is a Chilean dumpling made from bo...
956     Chartreuse (US:  (listen), UK: , French: [ʃaʁt...
984     Chénas is a commune in the Rhône department in...
986     Chenopodium graveolens (common name fetid goos...
987     Chenopodium pallidicaule, known as cañihua, ca...
990     Witzenhausen is a small town in the Werra-Meiß...
1047    Chimay (French pronunciation: ​[ʃimɛ], Walloon...
1054    The Chinese mitten crab (Eriocheir sinensis; C...
1091    Choice involves decision making. It can includ...
Name: summary, dtype: object

In [264]:
df.query(q_string, engine='python')['summary'][0:400][847]

'Carne de Ávila (Beef from Avila) is a protected geographic designation for beef originating from the Province of Ávila in Spain. The designation was approved in 1988.'

In [258]:
df['summary'].str.lower().str.contains('pizza').sum()
print('\n')
df['summary'].str.lower().str.contains('sweet').sum()
print('\n')
df['summary'].str.lower().str.contains('infusion').sum()
print('\n')
df['summary'].str.lower().str.contains('croquettes').sum()
print('\n')
df['summary'].str.lower().str.contains('rice').sum()

61

747

13

8

593

In [159]:
df['summary'].str.lower().str.contains('rice')

0       False
1       False
2       False
3       False
4       False
        ...
5050    False
5051    False
5052     True
5053    False
5054    False
Name: summary, Length: 5055, dtype: object